In [4]:
import numpy as py
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.feature_extraction.text import CountVectorizer
from sklearn import metrics
from xgboost import XGBRegressor
df= pd.read_csv('Churn.csv')
df.head()

,Customer ID,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,...,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,7590-VHVEA,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
2,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
3,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No

In [5]:
df.describe()

       Senior Citizen       tenure  Monthly Charges
count     7044.000000  7044.000000      7044.000000
mean         0.162124    32.366695        64.756736
std          0.368590    24.560582        30.090786
min          0.000000     0.000000        18.250000
25%          0.000000     9.000000        35.500000
50%          0.000000    29.000000        70.350000
75%          0.000000    55.000000        89.850000
max          1.000000    72.000000       118.750000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7044 entries, 0 to 7043
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer ID        7044 non-null   object
 1   Gender             7044 non-null   object
 2   Senior Citizen     7044 non-null   int64
 3   Partner            7044 non-null   object
 4   Dependents         7044 non-null   object
 5   tenure             7044 non-null   int64
 6   Phone Service      7044 non-null   object
 7   Multiple Lines     7044 non-null   object
 8   Internet Service   7044 non-null   object
 9   Online Security    7044 non-null   object
 10  Online Backup      7044 non-null   object
 11  Device Protection  7044 non-null   object
 12  Tech Support       7044 non-null   object
 13  Streaming TV       7044 non-null   object
 14  Streaming Movies   7044 non-null   object
 15  Contract           7044 non-null   object
 16  Paperless Billing  7044 non-null   object
 17  Payment Method     7044 non-null   object
 18  Monthly Charges    7044 non-null   float64
 19  Total Charges      7044 non-null   object
 20  Churn              7044 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [7]:
df.shape

(7044, 21)

In [ ]:
# 1. Building a tensorflow churn model
# 2. Training and predicting
# 3. Saving your model and reloading